<div class="split-screen">
  <p>form Value {{form.getRawValue() | json}}</p>
  <p> form value {{demo.value | json}} </p>
</div>
<div class="split-screen">
  <form [formGroup]="form">
    <label>
      Text:
      <input type="text" formControlName="TF">
    </label>
    <label>
      Date Required:
      <input type="text" formControlName="DateRequired">
    </label>
    <label>
      Date Not Required:
      <input type="text" formControlName="DateNR">
    </label>
    <app-date-form-control formControlName="DateNR"></app-date-form-control>
  </form>
  <form #demo="ngForm">
    <div>
      <label>DatePicker</label>
      <!-- <input type="text" mwlFlatpickr name="selectedDate" [(ngModel)]="selectedDate" [altInput]="true" [convertModelValue]="true"> -->
      <app-date-control name="selectedDate" [(ngModel)]="selectedDate"></app-date-control>
    </div>
    <div>
      <label>Text:</label>
      <input type="text" name="someText" [(ngModel)]="someText">
    </div>
    <br />
    <div>
      <label>Date Component</label>
      <app-date-control name="someText2" [(ngModel)]="someText2"></app-date-control>
    </div>
  </form>
</div>